/* 

    External stylesheets allow you to centralize your styles and apply them consistently across mutliple webpages

    They are recommended to use for web development

*/

body {
    background-color: rgb(44, 89, 89);
}

/* 

    Box Model

    Content
        - The innermost area of an elements box where the content exists
        - can be text, images, etc
    
    Padding
        - The space between the content and the elements border
        - padding-top, padding-right, padding-bottom, and padding-left
        - you can also use padding and add in all the sides at once
    
    Border
        - The border surrounds the padding and content area
        - can be styled with border-width, border-style, and border-color
    
    Margin
        - The margin is the outermost area of an elements box, creating space around it
        - We reference the margin-top, margin-right, margin-bottom and margin-left
        - You can also do the same as padding and just reference all of it at once with margin

*/

#box {

    width: 200px; /* Width of the content area */
    height: 100px; /* height of the content area */
    padding: 20px; /* Padding around the content area */
    border: 2px solid #333; /* Border around teh padding */
    margin: 10px; /* margin around the border */

}

/*

    CSS Selectors

    These are used to target and style specific HTML elements based on their element type or tag.

    They apply styles to all instances of the selected element throughout the html doc


    Element Selectors
    Element selectors are among the most basic and widely used
*/

h1 {
    font-family: Arial;
}

/* Class or Id selector

We are using the class or id attribute of elements in order to apply styles to them

Id is used to specifiy a specific element
class is used to apply styles to a group of elements (in general)
*/

.class_example {
    background-color: blueviolet;
}

#box {
    background-color: coral;
}

/* Sibling Selectors
    Grab adjacent siblings using +

    Select and style the LI element immediately following the one with class "highlight"

    General Sibling Selector ~
    Seelct and style all elements following the one with class "highlight"
*/

.highlight + li {
    background-color: yellow;
}

.highlight ~ li {
    color: blue;
}

/*
    Advanced Selectors

    Attribute Selectors
        - You can select elements based on their attributes and attribute values

        element[attribute=value]
*/

input[type="text"] {
    border: 3px solid #ff0000;
}

/*
    Pseudo Classes

    :hover
    :focus

    These pseudo-classes allow you to style elements when they are hovered or focused
*/

input:hover {
    background-color: red;
}

input:focus {
    border: 3px dashed blue;
}

/*
    Responsive Web Design

    This is the idea that web screens are nearly always different for different users based on what device they are using to interact with your page

    In modern web dev, you need to account for mobile devices as well as browsers. In fact, most of the internets web traffic comes from phones.

    Approach your website from a mobile first perspective

    Media Queries
    Media queries are css rules that apply styles based on the characteristics of the device, such as screen width, height, and orientation
*/

@media (max-width: 768px){
    /* CSS Styles for tablet screens */

    body {
        background-color: red;
    }
}
